button[type="submit"] {
  background-color: var(--secondary-color) !important;
}

button[type="submit"]:hover {
  background-color: rgb(230, 138, 5) !important; /* Slightly darker orange */
}

input:focus {
  border-color: var(--secondary-color) !important;
  box-shadow: 0 0 0 1px var(--secondary-color) !important;
}

.bg-blue-50 {
  background-color: rgba(5, 25, 60, 0.1) !important;
}

.text-blue-800 {
  color: var(--primary-color) !important;
}