button {
  background-color: var(--secondary-color) !important;
}

button:hover {
  background-color: rgb(230, 138, 5) !important; /* Slightly darker orange */
}

a.text-blue-600:hover {
  color: var(--secondary-color) !important;
}