button {
  background-color: var(--secondary-color) !important;
}

button:hover {
  background-color: rgb(230, 138, 5) !important; /* Slightly darker orange */
}

select:focus {
  border-color: var(--secondary-color) !important;
  box-shadow: 0 0 0 1px var(--secondary-color) !important;
}